@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');
/* Container*/
body{
    background-color: #e9ecf0;
    font-family: 'Dosis',sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

}
/* Estilo IP*/
.response{
    background-color: #e9ecf0;
    margin-bottom: auto;
    text-align: center;
    margin: 5px;
}